/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
}

/*============= TOP BAR HEADER =============*/
.top-bar {
    background: #72A6BE;
    height: 2.8rem;
    padding: .5rem 0;
    color: white;
}


/*============= NAVIGATION =============*/
.navbar-brand img{
  height: 3.5rem;
}
nav.navbar.bg-light.navbar-light.navbar-expand-lg {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 0.5rem 0.5rem rgb(0,0,0, 0.1);
    z-index: 1;
}

li.nav-item {
    padding: .5rem;
}
a.nav-link {
    color: black!important;
}

a.nav-link:hover {
    color: #fbc501!important;
}
a.nav-link.active {
    color: #fbc501!important;
}
.ms-auto {
    margin-left: auto!important;
    text-align: center;
}
/*============= CAROUSEL =============*/

#carouselExampleControls{
  box-shadow: 0 1rem 1rem rgb(0,0,0, 0.1);
}
.carousel-inner{
  max-height: 38rem!important;
}

/*---Change Carousel Transition Speed --*/





/*-- Carousel Content --*/

.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.bg-custom{
  background-color: rgba(0,0,0,0.4);
  border-radius: 1rem;
  color: white;
}
.border-top.w-50.mx-auto.my-4 {border-width: 2px!important;}
.carousel-caption h1 {
    font-size: 39px;
}

.carousel-caption h5 {
    font-size: 18px;
}
.btn-lg{
  border-radius: 0;
  font-size: 14px;
  border-width: medium;
  text-transform: uppercase;
  font-weight: 500;
}
.seconoditem{
  margin-right: 50px;
}

.border-top.w-25.mx-auto.my-3 {
    border: 1px solid #FBC608!important;
}
/*===== FIXED BACKGROUND IMG =====*/
.fixed{
  background-image: url(../img/matrix.jpg);
  position: fixed;
}
.fixed-background {
  overflow: hidden;
  padding: 8rem 0;

   /*-- Correction for iOS --*/
}


/*-- Emoji Navbar --*/
button.btn.btn-primary.me-2 {
    font-size: 18px;
}

button.btn.btn-danger.ms-2 {
    font-size: 18px;
}
.emoji{
  background: linear-gradient(to right, #4981b3, #ac2516);
}
svg.svg-inline--fa.fa-plug.fa-w-12 {
    margin: auto;
    color: white;
    font-size: 33px;
}

h1.text-dark.font-weight-bold {
    font-weight: 700;
}
.col-md-4.float-end {
    margin-left: 93px;
}
.jumbotron.py-5 {
    background: #E5E7EB;
}
p.lead {
    font-size: 20px;
    font-weight: 800;
}


/*============= FOOTER =============*/
footer {
    background-color: #212529;
    border-bottom: 1px solid orange;
}


/*============= SOCKET =============*/
.socket.text-light.text-center.py-3 {
    background: #1D1D1D;
}
.social li{
  list-style: none;
}
ul.social.pt-3 {
    display: flex;
    margin: 0 auto;
    margin-left: 110px;
}

.social li a {
    color: white;
    font-size: 28px;
    padding: 0px 0px 0px 25px;
}
/*============= MEDIA QUERIES =============*/
/* my media query

/* Devices under 1199px (xl) */
@media only screen and (min-width: 576px) and (max-width:768px){
   .carousel-caption h1 {
    font-size: 30px;
    margin-bottom: -23px;
}
.carousel-caption h5 {
    font-size: 12px;
}
.btn-lg {
    border-radius: 0;
    font-size: 14px;
    border-width: medium;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: -11px;
}
}
@media only screen and (min-width: 320px) and (max-width:576px){
  .seconoditem {
    margin-right: 0px;
    width: 505px;
}
.seconoditem h1{
  font-size: 27px;
  margin-bottom: -19px;

}
.thirditem h1{
  font-size: 27px;
  margin-bottom: -19px;

}
.carousel-caption h1{
  font-size: 27px;
  margin-bottom: -19px;

}
.carousel-caption h5 {
    font-size: 14px;
    margin-top: -13px;
}
.btn-lg {
    border-radius: 0;
    font-size: 10px;
    border-width: medium;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: -12px;
}
.col-10.bg-custom.py-3.px-0.seconoditem {
    margin-top: -50px;
}
.col-10.bg-custom.py-3.px-0.thirditem {
    margin-top: -50px;
}
.col-10.bg-custom.py-3.px-0.firstitem {
    margin-top: -50px;
}
}




@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}